$theme-dark-blue: #252C39
$theme-blue: #22648A
$theme-dark-grey: #CCCCCC
$theme-medium-grey: #DDDDDD
$theme-light-grey: #EEEEEE
$theme-peach: #E9A480
$theme-pink: #E64769
$theme-green: #007E33
$theme-red: #CC0000
$theme-orange: #FF8800
