[run]
branch = True
source = src/django/VLE
omit =
    src/django/VLE/admin.py,
    src/django/VLE/apps.py,
    src/django/VLE/wsgi.py,
    src/django/VLE/migrations/*,
    src/django/VLE/settings/*,
    *urls.py
[report]
ignore_errors = True
