{% if logwatch_mail_to %}
MailTo = {{ logwatch_mail_to }}
{% endif %}

{% if logwatch_mail_from %}
MailFrom = {{ logwatch_mail_from }}
{% endif %}

{% if logwatch_output %}
Output = {{ logwatch_output }}
{% endif %}

{% if logwatch_format %}
Format = {{ logwatch_format }}
{% endif %}

{% for service in logwatch_services %}
Service = "{{ service }}"
{% endfor %}

{% for service in logwatch_disabled_services %}
Service = "-{{ service }}"
{% endfor %}

{% if logwatch_range %}
Range = {{ logwatch_range }}
{% endif %}

{% if logwatch_archive %}
Archives = {{ logwatch_archive }}
{% endif %}

{% if logwatch_detail %}
Detail = {{ logwatch_detail }}
{% endif %}

{% if logwatch_limit_to_hosts %}
hostlimit =  {{ logwatch_limit_to_hosts|join(',') }}
{% endif %}

{% if logwatch_hostname %}
hostname = {{ logwatch_hostname }}
{% endif %}

{% if logwatch_html_wrap %}
Html_wrap = {{ logwatch_html_wrap }}
{% endif %}

{% if logwatch_numeric %}
Numeric = {{ logwatch_numeric }}
{% endif %}
