#!/bin/sh

DJANGODIR={{ project_path }}

# Activate the virtual environment and set addition env variables through the postactivate script.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate
. {{ virtualenv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# - E send sends task-related events that can be captured by monitors like celery events, celerymon, and others.
exec celery -A {{ project_name }} worker -E -l info --concurrency={{ celery_num_workers }}
