@import '~sass/partials/shadows.sass'

.btn
    @extend .small-shadow
    font-family: 'Roboto Condensed', sans-serif
    font-size: 1.2em
    background-color: white
    border: none
    display: inline-flex
    justify-content: center
    align-items: center
    color: $theme-dark-blue
    transition: all 0.6s cubic-bezier(.25,.8,.25,1) !important
    svg
        transition: all 0.6s cubic-bezier(.25,.8,.25,1) !important
        margin: 5px
    &:hover, &.active
        background-color: $theme-blue !important
        color: white !important
        svg
            fill: white !important

.send-button
    svg
        margin: 0px
    width: 40px
    height: 40px

.add-button
    svg
        fill: $theme-positive-selected !important
    &:hover, &:active
        background-color: $theme-positive-selected !important

.add-card
    opacity: 0.5
    &:hover, &:active
        opacity: 1

.delete-button
    svg
        fill: $theme-negative-selected !important
    &:hover, &:active
        background-color: $theme-negative-selected !important

.change-button
    svg
        fill: $theme-change-selected !important
    &:hover, &:active
        background-color: $theme-change-selected !important

.lti-button-option
    width: 275px
    height: 100px
    margin-top: 20px

.lti-button-text
    font-size: 20px
    text-align: center
