@import '~sass/partials/shadows.sass'

.card
    @extend  .shadow
    margin-bottom: 8px
    text-align: left
    background-color: white
    border-width: 2px 2px 2px 0px
    border-color: $theme-dark-grey
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important
    border-radius: 5px !important
    .card-body
        border-radius: 3px !important
        border-left: 8px solid $theme-blue
    .card
        border-left-width: 2px
        .card-body
            border: none
        &.unselected
            opacity: 0.5
    &:hover:not(.no-hover)
        cursor: pointer
        background-color: $theme-light-grey !important
    &.pink-border
        .card-body
            border-left-color: $theme-pink
    &.purple-border
        .card-body
            border-left-color: $theme-purple
    &.yellow-border
        .card-body
            border-left-color: $theme-yellow
    &.blue-border
        .card-body
            border-left-color: $theme-blue
    &.red-border
        .card-body
            border-left-color: $theme-red
    &.green-border
        .card-body
            border-left-color: $theme-green
    &.orange-border
        .card-body
            border-left-color: $theme-orange
    &.grey-border
        .card-body
            border-left-color: $theme-dark-grey

.card-body
    padding: 12px 10px 12px 10px

.card-last-elem-button .card-body
    padding-bottom: 2px !important
