.card
    margin-bottom: 8px
    text-align: left
    background-color: $theme-light-grey
    border-width: 0px
    border-left-width: 15px
    border-radius: 0px
    &:hover
        background-color: $theme-dark-grey
    .card
        border: 5px solid red

.card-body
    padding: 12px 10px 12px 10px

.card-last-elem-button .card-body
    padding-bottom: 2px !important

.card.pink-border
    border-left-color: $theme-pink

.card.peach-border
    border-left-color: $theme-peach

.card.blue-border
    border-left-color: $theme-blue
