@import '~sass/modules/colors.sass'

.text-dark-blue
    color: $theme-dark-blue
.background-dark-blue
    background: $theme-dark-blue

.text-blue
    color: $theme-blue
.background-blue
    background: $theme-blue

.text-dark-grey
    color: $theme-dark-grey
.background-dark-grey
    background: $theme-dark-grey

.text-medium-grey
    color: $theme-medium-grey
.background-medium-grey
    background: $theme-medium-grey

.text-light-grey
    color: $theme-light-grey
.background-light-grey
    background: $theme-light-grey

.text-yellow
    color: $theme-yellow
.background-yellow
    background: $theme-yellow

.text-pink
    color: $theme-pink
.background-pink
    background: $theme-pink

.text-purple
    color: $theme-purple
.background-purple
    background: $theme-purple

.text-green
    color: $theme-green
.background-green
    background: $theme-green

.text-red
    color: $theme-red
.background-red
    background: $theme-red

.text-orange
    color: $theme-orange
.background-orange
    background: $theme-orange
