.grade-section
    border-radius: 5px !important
    border: 2px solid $theme-dark-grey
    min-width: 3em
    min-height: 3em
    background-color: white
    float: right
    overflow: hidden
    margin: 0px 0px 10px 0px
    &.grade
        text-align: center
        line-height: 2.5em
    .theme-input, span, .theme-input:hover:not(.no-hover), .theme-input:focus
        width: 3em
        display: inline-block
        box-shadow: none
        border: none !important
        margin: 0px
        padding: 0px !important
        font-family: 'Roboto', sans-serif
        font-weight: bold
        font-size: 1.5em
        text-align: right
    .btn
        display: block
        width: 100%
        border-width: 1px 0px 0px 0px !important
        border-radius: 0px 0px 5px 5px !important
    &.sticky
        position: sticky
        top: 0px

hr.full-width
    width: 100%
    border-color: $theme-dark-grey
    margin: 10px 0px 5px 0px

.timestamp
    float: right
    font-family: 'Roboto Condensed', sans-serif
    color: grey
    svg
        fill: grey
        margin-top: -2px
    .late-submission-badge
        margin-left: 5px
        background-color: $theme-red
