.add-icon
    fill: $theme-light-grey !important
    cursor: pointer

.add-icon:hover
    fill: $theme-positive-selected !important

.trash-icon:hover
    fill: $theme-negative-selected !important

.trash-icon
    fill: $theme-dark-grey !important
    cursor: pointer
