.add-icon
    fill: $theme-light-grey !important
    cursor: pointer
    &:hover
        fill: $theme-positive-selected !important

.trash-icon
    fill: $theme-dark-grey !important
    cursor: pointer
    &:hover
        fill: $theme-negative-selected !important
