input
    font-family: 'Roboto Condensed', sans-serif
    font-size: 20px
    background-color: white !important
    color: $theme-dark-blue !important
    border-width: 0px 0px 0px 15px !important
    border-color: solid $theme-dark-grey !important
    padding: 0.375rem 0.75rem !important

.fileinput
    font-family: 'Roboto Condensed', sans-serif
    font-size: 17px
    background-color: white !important
    border-left: 15px solid $theme-dark-grey !important
    margin-bottom: 10px
