.theme-select
    @extend .shadow
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    outline: none
    font-family: 'Roboto Condensed', sans-serif
    font-size: 1.1em
    text-transform: capitalize

    background-color: white
    color: $theme-dark-blue
    border: 1px solid $theme-dark-grey
    border-radius: 5px

    position: relative
    display: inline-flex
    justify-content: center !important
    align-items: center
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important
    svg
        transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important
        margin: 5px
